<div class="header center">
  <h1>Hello, {{name}}! Welcome to Twoter!</h1>
  {{#unless loggedIn}}
  <div id="login">
    <input type="button" value="Log in with GitHub" onclick="window.location.href='/auth/github'">
  </div>
  {{else}}
  <div id="logout">
    <input type="button" value="Log out" onclick="window.location.href='/logout'">
  </div>
  <br>
  <div id="makeTwote">
    Say something interesting:<br>
    <textarea id="twote"></textarea><br>
    <input type="button" value="Twote!" onclick="makeTwote();">
  </div>
  {{/unless}}
</div>
{{#if loggedIn}}
<br>
<div class="leftcol">
  <table id="twotes" border="1">
    <tbody>
    {{#each twotes}}
      <tr id="{{this._id}}" class="content">
        <td>
          <span id="author" class="clickable" onclick="filterTwotes('{{this.author}}');">{{this.author}}</span>, <span id="date">{{this.date}}</span>:
          <input type="button" value="X" class="right" onclick="deleteTwote('{{this._id}}');"><br>
          <span id="text">{{this.text}}</span><br>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
<div class="rightcol">
  <br>Posts filtered by user:
  <ul id="users">
  {{#each users}}
    <li id="{{this}}" class="clickable" onclick="filterTwotes('{{this}}', false);">{{this}}</li>
  {{/each}}
  </ul>
  <br><input type="button" value="Undo filter" onclick="filterTwotes('', true);">
</div>
{{/if}}
