<div class="header center">
  <h1>Welcome to Twoter!</h1>
  <div id="login">
    <a href="/auth/github">Log in with GitHub</a>
  </div>
  <div id="logout" style="display: none;">
    <a href="/logout">Log out</a>
  </div>
  <br>
  <div id="makeTwote" style="display: none;">
    Say something interesting:<br>
    <textarea id="twote"></textarea><br>
    <input type="button" value="Twote!" onclick="makeTwote();">
  </div>
</div>
<br>
<div class="leftcol">
  <table id="twotes" border="1">
    <tbody>
    {{#each twotes}}
      <tr id="{{this._id}}" class="content">
        <td>
          <span id="author" class="clickable" onclick="filterTwotes('{{this.author}}');">{{this.author}}</span>, <span id="date">{{this.date}}</span>:
          <input type="button" value="X" class="right" onclick="deleteTwote('{{this._id}}');"><br>
          <span id="text">{{this.text}}</span><br>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
<div class="rightcol">
  <br>Posts filtered by user:
  <ul id="users">
  {{#each users}}
    <li id="{{this}}" class="clickable" onclick="filterTwotes('{{this}}', false);">{{this}}</li>
  {{/each}}
  </ul>
  <br><input type="button" value="Undo filter" onclick="filterTwotes('', true);">
</div>
